* {
    box-sizing: border-box;
}

.section1 {
    background-color: rgb(245, 240, 230);
}

.section2 {
    background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
}

.section1,
.section2 {
    scroll-margin-top: 55px;
}

.section1 p,
.section2 p {
    font-size: 28px;
}

.section2 h1,
.section2 h2,
.section2 h3,
.section2 h4,
.section2 h5,
.section2 h6,
.section2 p {
    color: white;
}

img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}

div {
    display: inline-block;
    width: 100%;
}

.navLogo {
    max-width: 400px;
    height: auto;
}

ul {
    position: sticky;
    top: 0;
    height: 55px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
}

li a:hover {
    color: white;
    background-color: #182b49;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-items: center;
    margin: 0px;
    padding: 20px;
}

.grid-item {
    background-color: #182b49;
    color: white;
    max-height: 500px;
    border-radius: 5px;
    width: 100%;
}

.scrollable-content {
    height: 100%;
    overflow-y: auto;
    padding: 15px;
    max-height: 480px;
    -ms-overflow-style: none;
}

.scrollable-content::-webkit-scrollbar {
    display: none;
}

@media (max-width: 800px) {
    ul {
        display: none;
    }
    .navLogo {
        max-width: 75%;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 24px;
    }
    .section1 p,
    .section2 p {
        font-size: 20px;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}